In [104]:
import pandas as pd

### 1- Read in the data into a pandas dataframe.
- The first four rows of '*CSV*' file in not related to the data. Thus, we skip it.

In [105]:

df = pd.read_csv('API_EG.USE.PCAP.KG.OE_DS2_en_csv_v2_4028587-2.csv', skiprows= 4)

- ##### Our data frame has 266 rows and 67 columns

In [106]:
df.shape

(266, 67)

### 2- Display the usual basic information (datatypes, names, non-null values for columns) about the dataframe.
- ##### It is clear that between 1960 to 1970 we have too many Nan-values, and all columns after 2015 have not any values. 
- ##### All values in our year columns have type '*float*' that makes sense; because, these data are related to Energy Consumption for each country in each year.

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            31 non-null     float64
 5   1961            31 non-null     float64
 6   1962            31 non-null     float64
 7   1963            31 non-null     float64
 8   1964            31 non-null     float64
 9   1965            32 non-null     float64
 10  1966            32 non-null     float64
 11  1967            32 non-null     float64
 12  1968            32 non-null     float64
 13  1969            32 non-null     float64
 14  1970            32 non-null     float64
 15  1971            151 non-null    float64
 16  1972            151 non-null    float64
 17  1973            151 non-null    float64
 18  1974            151 non-null    float64
 19  1975            151 non-null    float64
 20  1976            151 non-null    float64
 21  1977            151 non-null    float64
 22  1978            151 non-null    float64
 23  1979            151 non-null    float64
 24  1980            151 non-null    float64
 25  1981            152 non-null    float64
 26  1982            152 non-null    float64
 27  1983            152 non-null    float64
 28  1984            152 non-null    float64
 29  1985            153 non-null    float64
 30  1986            153 non-null    float64
 31  1987            153 non-null    float64
 32  1988            153 non-null    float64
 33  1989            153 non-null    float64
 34  1990            207 non-null    float64
 35  1991            177 non-null    float64
 36  1992            177 non-null    float64
 37  1993            177 non-null    float64
 38  1994            177 non-null    float64
 39  1995            179 non-null    float64
 40  1996            179 non-null    float64
 41  1997            179 non-null    float64
 42  1998            179 non-null    float64
 43  1999            179 non-null    float64
 44  2000            184 non-null    float64
 45  2001            184 non-null    float64
 46  2002            184 non-null    float64
 47  2003            184 non-null    float64
 48  2004            217 non-null    float64
 49  2005            218 non-null    float64
 50  2006            218 non-null    float64
 51  2007            218 non-null    float64
 52  2008            185 non-null    float64
 53  2009            185 non-null    float64
 54  2010            185 non-null    float64
 55  2011            185 non-null    float64
 56  2012            186 non-null    float64
 57  2013            186 non-null    float64
 58  2014            179 non-null    float64
 59  2015            40 non-null     float64
 60  2016            0 non-null      float64
 61  2017            0 non-null      float64
 62  2018            0 non-null      float64
 63  2019            0 non-null      float64
 64  2020            0 non-null      float64
 65  2021            0 non-null      float64
 66  Unnamed: 66     0 non-null      float64
dtypes: float64(63), object(4)
memory usage: 139.4+ KB

### 3- Display the dataframe.

- ##### To have a better view of our dataframe '***set_option()***' method is used to: 
    - ##### Display all columns (all 67 columns)
- ##### Thus, from now while we want to see the dataframe it will be shown as it is set here.

In [108]:
pd.set_option('display.max_columns',67)
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,787.535043,780.536437,789.931551,786.928878,785.792262,785.431054,776.903613,782.802688,780.892356,789.384321,810.466853,827.187029,820.875472,840.091970,827.625965,834.186776,837.874406,844.156930,810.515369,788.222328,789.666092,743.429610,749.911446,750.674926,760.208128,757.074853,755.589047,744.862070,746.661188,733.421542,738.822493,726.210303,739.607835,756.945360,748.030664,742.246410,755.764360,780.172370,766.243658,755.371018,749.402188,728.721222,725.668196,740.766343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,511.982019,516.547670,528.125544,531.463783,534.688610,541.996420,553.708822,561.489176,563.246832,569.830666,576.782827,585.018831,577.235974,565.808918,569.089757,563.048637,566.496340,564.017772,567.349261,564.362022,579.376214,586.332022,582.192216,559.106146,560.391832,571.896877,575.334207,568.053690,578.160301,548.181052,555.911735,560.274338,570.382439,578.107913,585.191024,578.678601,583.570930,585.933019,571.800007,596.785228,610.016077,624.240458,622.117525,611.437410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,637.410306,663.408901,635.756208,624.088181,586.690991,559.445192,532.943871,566.947264,555.742338,547.044522,531.587141,506.058157,501.904484,489.327030,500.925066,489.111460,483.624618,486.037605,480.093907,496.536532,491.802571,478.585781,479.820030,470.938412,455.666087,454.055081,449.254390,433.882523,441.163163,438.549912,442.978840,448.261695,467.644111,464.808021,433.572486,458.794074,471.694245,491.978571,515.217257,520.962336,521.780703,552.363766,533.760887,544.609443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,908.608824,1117.872926,1112.347340,1170.289281,1176.064254,1140.686958,1143.458468,1179.568641,1267.742103,1381.957383,1405.040886,1411.472920,1310.400165,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.893021,90.216323,149.311109,120.556959,101.842838,120.682945,126.882382,129.732713,127.544901,160.143356,152.337642,172.818692,176.446493,178.241409,181.493643,189.300945,216.142171,221.497822,217.879855,214.641058,248.643832,257.900379,212.106103,211.177709,229.145328,225.554412,232.071745,240.801539,264.235478,272.661476,293.822111,276.516286,298.467353,316.514668,327.609376,340.886359,324.267377,332.420814,358.642325,338.260133,277.833544,244.437747,328.688996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.341886,1984.178909,2056.774010,2077.144279,2142.134346,2161.065864,2152.224800,2218.843120,2234.702509,2289.557878,2451.915354,2594.193526,2569.610298,2713.656210,2643.912079,2686.258425,2718.501141,2763.773413,2585.623273,2471.598122,2518.117842,2290.666487,2395.381195,2420.083112,2498.893625,2504.903115,2527.940174,2471.477036,2464.323360,2424.881292,2461.026477,2384.137081,2518.332793,2716.293461,2678.554224,2625.794791,2775.615258,2950.153610,2852.095448,2768.094507,2716.681173,2636.684726,2602.845598,2695.505776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,835.864574,860.542030,879.554260,885.569471,810.366156,870.617856,828.470458,807.189272,785.241715,790.147096,775.116793,767.080512,754.328626,738.911478,728.473665,716.977066,709.298526,724.046658,702.504885,678.041108,679.006245,672.573813,657.317798,645.966372,640.677932,618.687137,627.893090,616.829781,601.194667,600.034159,603.078675,607.728207,612.030570,613.652437,617.711140,615.106907,599.104868,603.231762,600.806862,604.405664,619.400538,630.330018,644.976994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,993.124493,976.557276,998.262763,976.796025,940.071578,960.534964,903.519606,869.662782,857.306005,876.350013,857.852994,833.711579,823.966358,808.166630,834.201428,851.163079,897.469372,879.008997,871.755763,891.190616,922.693064,933.592563,877.678759,858.309791,862.446729,849.109388,832.579724,845.148058,895.541314,842.365540,837.107824,820.322206,782.685828,762.319205,796.258447,809.985623,787.371327,724.292388,729.379281,744.932243,795.054071,824.241799,845.359435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 4- Find out what values occur under "Indicator Name".
- ##### There is only one value under this column that has repeated 266 times. this value is '***Energy use (kg of oil equivalent per capita)***'

In [109]:
df['Indicator Name'].value_counts()

Energy use (kg of oil equivalent per capita)    266
Name: Indicator Name, dtype: int64

### 5- Set the name of the columns to the only value you found under "Indicator Name".

In [110]:
# only value under the 'Indicator Name' column is stracted.
unique_value = df['Indicator Name'].unique()
df.rename_axis(unique_value, axis='columns', inplace=True)
df

Energy use (kg of oil equivalent per capita),Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,787.535043,780.536437,789.931551,786.928878,785.792262,785.431054,776.903613,782.802688,780.892356,789.384321,810.466853,827.187029,820.875472,840.091970,827.625965,834.186776,837.874406,844.156930,810.515369,788.222328,789.666092,743.429610,749.911446,750.674926,760.208128,757.074853,755.589047,744.862070,746.661188,733.421542,738.822493,726.210303,739.607835,756.945360,748.030664,742.246410,755.764360,780.172370,766.243658,755.371018,749.402188,728.721222,725.668196,740.766343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,511.982019,516.547670,528.125544,531.463783,534.688610,541.996420,553.708822,561.489176,563.246832,569.830666,576.782827,585.018831,577.235974,565.808918,569.089757,563.048637,566.496340,564.017772,567.349261,564.362022,579.376214,586.332022,582.192216,559.106146,560.391832,571.896877,575.334207,568.053690,578.160301,548.181052,555.911735,560.274338,570.382439,578.107913,585.191024,578.678601,583.570930,585.933019,571.800007,596.785228,610.016077,624.240458,622.117525,611.437410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,637.410306,663.408901,635.756208,624.088181,586.690991,559.445192,532.943871,566.947264,555.742338,547.044522,531.587141,506.058157,501.904484,489.327030,500.925066,489.111460,483.624618,486.037605,480.093907,496.536532,491.802571,478.585781,479.820030,470.938412,455.666087,454.055081,449.254390,433.882523,441.163163,438.549912,442.978840,448.261695,467.644111,464.808021,433.572486,458.794074,471.694245,491.978571,515.217257,520.962336,521.780703,552.363766,533.760887,544.609443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,908.608824,1117.872926,1112.347340,1170.289281,1176.064254,1140.686958,1143.458468,1179.568641,1267.742103,1381.957383,1405.040886,1411.472920,1310.400165,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.893021,90.216323,149.311109,120.556959,101.842838,120.682945,126.882382,129.732713,127.544901,160.143356,152.337642,172.818692,176.446493,178.241409,181.493643,189.300945,216.142171,221.497822,217.879855,214.641058,248.643832,257.900379,212.106103,211.177709,229.145328,225.554412,232.071745,240.801539,264.235478,272.661476,293.822111,276.516286,298.467353,316.514668,327.609376,340.886359,324.267377,332.420814,358.642325,338.260133,277.833544,244.437747,328.688996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.341886,1984.178909,2056.774010,2077.144279,2142.134346,2161.065864,2152.224800,2218.843120,2234.702509,2289.557878,2451.915354,2594.193526,2569.610298,2713.656210,2643.912079,2686.258425,2718.501141,2763.773413,2585.623273,2471.598122,2518.117842,2290.666487,2395.381195,2420.083112,2498.893625,2504.903115,2527.940174,2471.477036,2464.323360,2424.881292,2461.026477,2384.137081,2518.332793,2716.293461,2678.554224,2625.794791,2775.615258,2950.153610,2852.095448,2768.094507,2716.681173,2636.684726,2602.845598,2695.505776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,835.864574,860.542030,879.554260,885.569471,810.366156,870.617856,828.470458,807.189272,785.241715,790.147096,775.116793,767.080512,754.328626,738.911478,728.473665,716.977066,709.298526,724.046658,702.504885,678.041108,679.006245,672.573813,657.317798,645.966372,640.677932,618.687137,627.893090,616.829781,601.194667,600.034159,603.078675,607.728207,612.030570,613.652437,617.711140,615.106907,599.104868,603.231762,600.806862,604.405664,619.400538,630.330018,644.976994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,Zimbabwe,ZWE,Energy use (kg of oil equivalent per capita),EG.USE.PCAP.KG.OE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,993.124493,976.557276,998.262763,976.796025,940.071578,960.534964,903.519606,869.662782,857.306005,876.350013,857.852994,833.711579,823.966358,808.166630,834.201428,851.163079,897.469372,879.008997,871.755763,891.190616,922.693064,933.592563,877.678759,858.309791,862.446729,849.109388,832.579724,845.148058,895.541314,842.365540,837.107824,820.322206,782.685828,762.319205,796.258447,809.985623,787.371327,724.292388,729.379281,744.932243,795.054071,824.241799,845.359435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 6- Create a new dataframe '***dfcode***' which contains the '*Country Code*' and '*Country Name*' columns of your original dataframe.

In [111]:
dfcode = df[['Country Code', 'Country Name']]
dfcode

Energy use (kg of oil equivalent per capita),Country Code,Country Name
0,ABW,Aruba
1,AFE,Africa Eastern and Southern
2,AFG,Afghanistan
3,AFW,Africa Western and Central
4,AGO,Angola
...,...,...
261,XKX,Kosovo
262,YEM,"Yemen, Rep."
263,ZAF,South Africa
264,ZMB,Zambia
265,ZWE,Zimbabwe

###  7- Remove the "Country Code", "Indicator Name", "Indicator Code" columns. (Apply the operation to your dataframe!)
- ##### Since we created a dataframe called '***dfcode***' containing '***Country Code***', '***Country Name***' we can delete '***Country Code***' from our original dataframe. because we can access them by joining the two dataframe through the country names.
- ##### Each of '***Indicator code***' and '***Indicator Name***' has only one unique value and these two column have values with the same meaning; and, we set the unique value of 'Indicator Name' column as the name of all columns, It is sensible to delete these 2 columns.

In [112]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66'],
      dtype='object', name='Energy use (kg of oil equivalent per capita)')

##### *After executing the command bellow our columns of interest will be removed permanently. As it is shown*.
- ##### By using *drop()* method and selecting the columns we want to delete
- ##### By setting the *inplace* = *True*

In [113]:
df.drop( columns = ['Country Code','Indicator Name','Indicator Code'], inplace = True)
df.columns

Index(['Country Name', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021', 'Unnamed: 66'],
      dtype='object', name='Energy use (kg of oil equivalent per capita)')

### 8- Make the column "Country Name" the index of your dataframe.
- ##### Since the name of countries are unique, it is sensible to set this column as the index of the dataframe.

In [114]:
# length of "Country Name" column equals to length of unique value of "Country Name" column 
len(df['Country Name']) == len(df['Country Name'].unique())

True

In [115]:
df.set_index('Country Name', inplace = True)
df

Energy use (kg of oil equivalent per capita),1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
Country Name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,787.535043,780.536437,789.931551,786.928878,785.792262,785.431054,776.903613,782.802688,780.892356,789.384321,810.466853,827.187029,820.875472,840.091970,827.625965,834.186776,837.874406,844.156930,810.515369,788.222328,789.666092,743.429610,749.911446,750.674926,760.208128,757.074853,755.589047,744.862070,746.661188,733.421542,738.822493,726.210303,739.607835,756.945360,748.030664,742.246410,755.764360,780.172370,766.243658,755.371018,749.402188,728.721222,725.668196,740.766343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,511.982019,516.547670,528.125544,531.463783,534.688610,541.996420,553.708822,561.489176,563.246832,569.830666,576.782827,585.018831,577.235974,565.808918,569.089757,563.048637,566.496340,564.017772,567.349261,564.362022,579.376214,586.332022,582.192216,559.106146,560.391832,571.896877,575.334207,568.053690,578.160301,548.181052,555.911735,560.274338,570.382439,578.107913,585.191024,578.678601,583.570930,585.933019,571.800007,596.785228,610.016077,624.240458,622.117525,611.437410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,637.410306,663.408901,635.756208,624.088181,586.690991,559.445192,532.943871,566.947264,555.742338,547.044522,531.587141,506.058157,501.904484,489.327030,500.925066,489.111460,483.624618,486.037605,480.093907,496.536532,491.802571,478.585781,479.820030,470.938412,455.666087,454.055081,449.254390,433.882523,441.163163,438.549912,442.978840,448.261695,467.644111,464.808021,433.572486,458.794074,471.694245,491.978571,515.217257,520.962336,521.780703,552.363766,533.760887,544.609443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,908.608824,1117.872926,1112.347340,1170.289281,1176.064254,1140.686958,1143.458468,1179.568641,1267.742103,1381.957383,1405.040886,1411.472920,1310.400165,1296.695977,1219.326655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.893021,90.216323,149.311109,120.556959,101.842838,120.682945,126.882382,129.732713,127.544901,160.143356,152.337642,172.818692,176.446493,178.241409,181.493643,189.300945,216.142171,221.497822,217.879855,214.641058,248.643832,257.900379,212.106103,211.177709,229.145328,225.554412,232.071745,240.801539,264.235478,272.661476,293.822111,276.516286,298.467353,316.514668,327.609376,340.886359,324.267377,332.420814,358.642325,338.260133,277.833544,244.437747,328.688996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.341886,1984.178909,2056.774010,2077.144279,2142.134346,2161.065864,2152.224800,2218.843120,2234.702509,2289.557878,2451.915354,2594.193526,2569.610298,2713.656210,2643.912079,2686.258425,2718.501141,2763.773413,2585.623273,2471.598122,2518.117842,2290.666487,2395.381195,2420.083112,2498.893625,2504.903115,2527.940174,2471.477036,2464.323360,2424.881292,2461.026477,2384.137081,2518.332793,2716.293461,2678.554224,2625.794791,2775.615258,2950.153610,2852.095448,2768.094507,2716.681173,2636.684726,2602.845598,2695.505776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,835.864574,860.542030,879.554260,885.569471,810.366156,870.617856,828.470458,807.189272,785.241715,790.147096,775.116793,767.080512,754.328626,738.911478,728.473665,716.977066,709.298526,724.046658,702.504885,678.041108,679.006245,672.573813,657.317798,645.966372,640.677932,618.687137,627.893090,616.829781,601.194667,600.034159,603.078675,607.728207,612.030570,613.652437,617.711140,615.106907,599.104868,603.231762,600.806862,604.405664,619.400538,630.330018,644.976994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,993.124493,976.557276,998.262763,976.796025,940.071578,960.534964,903.519606,869.662782,857.306005,876.350013,857.852994,833.711579,823.966358,808.166630,834.201428,851.163079,897.469372,879.008997,871.755763,891.190616,922.693064,933.592563,877.678759,858.309791,862.446729,849.109388,832.579724,845.148058,895.541314,842.365540,837.107824,820.322206,782.685828,762.319205,796.258447,809.985623,787.371327,724.292388,729.379281,744.932243,795.054071,824.241799,845.359435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 9- Get rid of columns which contain no values.
- ##### As we saw from the info() of the dataframe(part 2), some columns are completely empty. So it might be better to delete them:
- ##### By using *dropna()* method
- ##### Setting *axis* = columns
- ##### Setting *how* = all, for satisfying the condition '*columns which contain no values*'.
- ##### Setting *inplace* = True, to make changes permanent

In [116]:
df.dropna(axis='columns', how= 'all', inplace= True)
df

Energy use (kg of oil equivalent per capita),1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,787.535043,780.536437,789.931551,786.928878,785.792262,785.431054,776.903613,782.802688,780.892356,789.384321,810.466853,827.187029,820.875472,840.091970,827.625965,834.186776,837.874406,844.156930,810.515369,788.222328,789.666092,743.429610,749.911446,750.674926,760.208128,757.074853,755.589047,744.862070,746.661188,733.421542,738.822493,726.210303,739.607835,756.945360,748.030664,742.246410,755.764360,780.172370,766.243658,755.371018,749.402188,728.721222,725.668196,740.766343,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,511.982019,516.547670,528.125544,531.463783,534.688610,541.996420,553.708822,561.489176,563.246832,569.830666,576.782827,585.018831,577.235974,565.808918,569.089757,563.048637,566.496340,564.017772,567.349261,564.362022,579.376214,586.332022,582.192216,559.106146,560.391832,571.896877,575.334207,568.053690,578.160301,548.181052,555.911735,560.274338,570.382439,578.107913,585.191024,578.678601,583.570930,585.933019,571.800007,596.785228,610.016077,624.240458,622.117525,611.437410,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,637.410306,663.408901,635.756208,624.088181,586.690991,559.445192,532.943871,566.947264,555.742338,547.044522,531.587141,506.058157,501.904484,489.327030,500.925066,489.111460,483.624618,486.037605,480.093907,496.536532,491.802571,478.585781,479.820030,470.938412,455.666087,454.055081,449.254390,433.882523,441.163163,438.549912,442.978840,448.261695,467.644111,464.808021,433.572486,458.794074,471.694245,491.978571,515.217257,520.962336,521.780703,552.363766,533.760887,544.609443,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,908.608824,1117.872926,1112.347340,1170.289281,1176.064254,1140.686958,1143.458468,1179.568641,1267.742103,1381.957383,1405.040886,1411.472920,1310.400165,1296.695977,1219.326655,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.893021,90.216323,149.311109,120.556959,101.842838,120.682945,126.882382,129.732713,127.544901,160.143356,152.337642,172.818692,176.446493,178.241409,181.493643,189.300945,216.142171,221.497822,217.879855,214.641058,248.643832,257.900379,212.106103,211.177709,229.145328,225.554412,232.071745,240.801539,264.235478,272.661476,293.822111,276.516286,298.467353,316.514668,327.609376,340.886359,324.267377,332.420814,358.642325,338.260133,277.833544,244.437747,328.688996,NaN,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.341886,1984.178909,2056.774010,2077.144279,2142.134346,2161.065864,2152.224800,2218.843120,2234.702509,2289.557878,2451.915354,2594.193526,2569.610298,2713.656210,2643.912079,2686.258425,2718.501141,2763.773413,2585.623273,2471.598122,2518.117842,2290.666487,2395.381195,2420.083112,2498.893625,2504.903115,2527.940174,2471.477036,2464.323360,2424.881292,2461.026477,2384.137081,2518.332793,2716.293461,2678.554224,2625.794791,2775.615258,2950.153610,2852.095448,2768.094507,2716.681173,2636.684726,2602.845598,2695.505776,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,835.864574,860.542030,879.554260,885.569471,810.366156,870.617856,828.470458,807.189272,785.241715,790.147096,775.116793,767.080512,754.328626,738.911478,728.473665,716.977066,709.298526,724.046658,702.504885,678.041108,679.006245,672.573813,657.317798,645.966372,640.677932,618.687137,627.893090,616.829781,601.194667,600.034159,603.078675,607.728207,612.030570,613.652437,617.711140,615.106907,599.104868,603.231762,600.806862,604.405664,619.400538,630.330018,644.976994,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,993.124493,976.557276,998.262763,976.796025,940.071578,960.534964,903.519606,869.662782,857.306005,876.350013,857.852994,833.711579,823.966358,808.166630,834.201428,851.163079,897.469372,879.008997,871.755763,891.190616,922.693064,933.592563,877.678759,858.309791,862.446729,849.109388,832.579724,845.148058,895.541314,842.365540,837.107824,820.322206,782.685828,762.319205,796.258447,809.985623,787.371327,724.292388,729.379281,744.932243,795.054071,824.241799,845.359435,NaN,NaN

### 10- Display the basic statistics by year, including : minimal, maximal, mean, median, standard deviation values.

In [117]:
df.describe()

Energy use (kg of oil equivalent per capita),1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
count,31.000000,31.000000,31.000000,31.000000,31.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,152.000000,152.000000,152.000000,152.000000,153.000000,153.000000,153.000000,153.000000,153.000000,207.000000,177.000000,177.000000,177.000000,177.000000,179.000000,179.000000,179.000000,179.000000,179.000000,184.000000,184.000000,184.000000,184.000000,217.000000,218.000000,218.000000,218.000000,185.000000,185.000000,185.000000,185.000000,186.000000,186.000000,179.000000,40.000000
mean,2385.557701,2420.522343,2521.248064,2656.031388,2764.165888,2808.617513,2888.296140,2971.440337,3159.186478,3345.323936,3620.810882,1725.078717,1754.646534,1893.294666,1853.902174,1775.482055,1846.489811,1886.029176,1907.399594,2001.754641,2016.919537,1992.424732,2012.832353,2005.263718,2007.379605,1981.027422,2003.890496,2024.797487,2045.982832,2081.112585,2007.615708,2197.553874,2132.149831,2108.116185,2098.129854,2136.173547,2176.623617,2236.336756,2254.792949,2238.998704,2225.075654,2276.686051,2292.053325,2340.912790,2137.683233,2133.782058,2189.433670,2210.417032,2476.819532,2387.819504,2456.581471,2457.349934,2440.925873,2415.142058,2469.420530,4228.048343
std,1997.388654,1981.575639,1971.311855,1992.182413,2089.070745,2058.798654,2027.148878,2031.838164,2149.346255,2265.936663,2293.518701,3447.386189,3403.961453,3801.718254,3554.714111,2813.044126,2963.624434,2957.255165,2787.941165,2954.537684,3021.344622,2967.821489,3103.064459,3130.436511,2755.397350,2482.663978,2480.309538,2449.178088,2470.006394,2540.005715,2264.053539,2382.216038,2358.029064,2346.484845,2370.463719,2416.365990,2464.692642,2713.401942,2814.774116,2724.171048,2698.630365,2811.049490,2858.788765,2847.039782,2772.128247,2667.262780,2718.487679,2764.429890,2866.536710,2774.819394,2794.014904,2866.836003,2825.271829,2778.375344,2831.067998,2636.517633
min,289.057068,322.490578,350.101258,367.811430,410.251827,440.882938,451.750814,483.951995,496.911773,511.562002,522.199404,86.765239,88.146533,93.926300,95.454377,96.009666,99.859940,99.705551,100.413780,101.585973,105.505072,104.861605,107.916179,107.672474,106.429240,109.635123,114.335725,109.634932,117.398865,120.167957,43.359734,118.898267,122.726949,126.798910,129.630799,138.058134,135.948533,139.051079,141.976972,140.979860,129.649657,128.717994,128.831464,129.669055,13.958453,16.532114,9.548060,9.562510,127.691109,130.312563,135.356451,113.090448,63.669707,65.393340,66.342002,1537.261412
25%,1401.298789,1455.073445,1568.387025,1725.539544,1791.042783,1740.689139,1806.366083,1882.015370,2019.225182,2205.954140,2447.915485,419.662127,417.025223,439.506701,448.265509,448.985346,472.318274,477.487776,503.415601,522.835452,510.611093,519.897491,508.933012,509.485851,505.870588,517.187628,505.168928,516.564655,514.408138,529.844045,482.002753,579.376214,605.784374,579.998774,567.933065,562.382347,579.058001,602.883988,619.137705,606.157750,597.442565,630.325254,614.387009,620.649776,532.344519,541.958809,534.374869,561.820885,669.248983,678.885854,689.979694,685.096390,687.115215,684.425821,687.226862,2774.535661
50%,1906.174930,1937.644745,2081.011621,2268.427890,2341.146313,2435.746815,2496.625915,2575.607415,2802.166121,2982.833004,3551.313507,677.307041,675.180382,685.666296,685.332547,685.977238,724.486142,761.663892,775.296923,798.736370,807.397001,807.611451,803.733381,816.425807,822.894489,833.707992,851.163079,897.469372,906.109591,897.836131,1014.145625,1217.814242,1157.975767,1081.400647,1092.335336,1083.725369,1126.180703,1159.172541,1159.225769,1131.091171,1149.848310,1133.983570,1125.849756,1168.053257,1117.422217,1171.818666,1186.527846,1178.664557,1361.676113,1372.857957,1405.040886,1500.169212,1456.648530,1467.540103,1538.264100,3746.158627
75%,2787.029421,2824.192050,2943.750064,3104.157719,3224.790698,3324.413804,3402.928113,3545.290830,3727.672624,3813.962163,4159.397851,1976.745305,2017.458393,2305.490665,2276.840044,2157.690657,2287.615277,2316.504568,2460.812425,2586.271807,2766.314097,2685.028590,2680.624306,2651.481331,2749.962665,2794.251944,2787.684172,2894.827453,2981.128615,2896.500086,2838.987349,3087.747308,2775.218003,2814.188231,2879.037792,2910.134587,2863.842466,2858.654095,2899.336938,2917.646950,3005.870004,3030.686348,3076.595056,3160.052703,2779.195902,2746.531680,2839.912809,2791.245544,3129.127764,3106.686165,3152.003605,3085.941056,3077.479399,3018.274853,3031.115363,4846.703199
max,10523.406695,10534.018211,10414.540920,10465.813021,11150.050343,10926.395173,10480.606179,10361.972567,11114.667262,11974.192593,12106.152944,37113.339530,36146.699614,40710.112176,37557.340362,25763.473235,28353.128200,28090.673696,25027.221065,25303.041576,26517.451247,25001.641672,27354.021625,28902.850641,19859.938133,15225.338783,15080.929957,14654.085950,14582.104592,14355.969832,13703.175686,14818.456399,15242.953716,15624.708113,15511.060184,15871.086987,16547.879456,19006.441007,19348.547590,19839.010949,18431.926166,19621.840514,21300.073962,20727.866751,22120.430302,19256.515409,19155.852524,18167.491902,16353.831274,16911.079784,17023.166824,18157.598099,17630.071465,18178.139015,17922.703788,17478.893037

### 11- What can you conclude from the yearly descriptives?
- #### In the first row ('***count***') we can see the number of non Nan-values for each year. It means the number countries which their data of Energy Usage was available for that year.
- #### '***mean***' shows the average of data(energy use) for each year. followed by the standard deviation ('***std***') of energy consumtion for each year, that is shown in the third row.
- #### In the last five rows we can have information on the '***min***', '***max***' '***median***' and '***quartiles***' of date for each year.
    - ##### The first and last one (min, and max) show the *minimum* and *maximum* energy usage for each year respectively.
    - ##### The second one (25%) shows the first quartile of data, it means 25% of energy consumption was bellow the amount writen on the cell related to that year.
    - ##### The (50%) is an indicator of the second quartile, more precisely the median of data. It means half of data is bellow and the other half of data is above this value. Moreover, by comparing this value to the mean for each year we can find out whether our data is right or left skewed. for example in 1960, it is clear that mean is greater than median. so our data is right skewed for this year. And this applies to all years as well, meaning that  Energy consumption for all years are right skewed 
    - ##### The 75% indicates that 75% of our data are under this amount for each year

### 12- Display the basic statistics by country, including: minimal, maximal, mean, median, standard deviation values.
- ##### lambda function takes a row and returns the basic statistics related to that row
- ##### By using *apply()* method, the '*lambda function*' is applied to all rows while the *axis* is set to 'columns'.

In [118]:
stat_by_country = df.apply(lambda row: row.describe(), axis='columns')
stat_by_country

,count,mean,std,min,25%,50%,75%,max
Country Name,,,,,,,,
Aruba,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Eastern and Southern,44.0,774.382105,33.741279,725.668196,747.688295,771.573635,789.454763,844.156930
Afghanistan,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Africa Western and Central,44.0,569.449117,23.837452,511.982019,560.362458,569.460212,580.080214,624.240458
Angola,44.0,507.655185,57.699718,433.572486,466.935088,491.890571,536.473026,663.408901
...,...,...,...,...,...,...,...,...
Kosovo,15.0,1216.102185,133.739458,908.608824,1142.072713,1179.568641,1303.548071,1411.472920
"Yemen, Rep.",43.0,223.657474,75.290318,90.216323,166.481024,221.497822,277.174915,358.642325
South Africa,44.0,2486.783900,238.607050,1984.178909,2360.769433,2511.510478,2680.480274,2950.153610
Zambia,43.0,697.211345,92.585850,599.104868,615.968344,672.573813,771.098653,885.569471
Zimbabwe,43.0,857.661556,66.749616,724.292388,822.144282,851.163079,893.365965,998.262763

### 13- Display the basic statistics of your previous by country-statistics (i.e., the mean of country means, etc.).

In [119]:
stat_by_country.describe()

,count,mean,std,min,25%,50%,75%,max
count,266.000000,220.000000,219.000000,220.000000,220.000000,220.000000,220.000000,220.000000
mean,29.992481,1895.796955,456.997254,1105.604629,1617.384096,1894.713150,2200.927342,2718.246666
std,20.445970,2368.170137,840.838073,1317.515592,1986.833783,2310.093780,2902.359277,3974.368573
min,0.000000,12.400284,0.725879,9.548060,9.558898,11.760481,14.601868,16.532114
25%,5.000000,520.734943,72.313997,333.756270,465.168462,534.788916,562.443391,657.513271
50%,44.000000,999.663055,226.716363,538.671310,784.783249,985.088449,1132.643330,1503.563895
75%,44.000000,2513.184092,515.951663,1442.352848,2257.972452,2602.494966,2892.962309,3387.217395
max,56.000000,18278.542119,8751.700807,8775.992603,14525.570902,15664.302283,25096.176193,40710.112176

### 14- Display the first thirty rows of your original dataframe after sorting by the values for the **last year** in **descending** order. (Do not apply sorting to your original dataframe.)
- ##### The last year is 2015
- ##### By setting the '**ascending = False**' we sort it '**descending**
- ##### By "head(30)" we will show the first 30 rows

In [120]:
# extract the name of the last column
last_year = df.columns[len(df.columns)-1]
df.sort_values(last_year, ascending = False).head(30)

Energy use (kg of oil equivalent per capita),1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Iceland,3082.711563,2916.706232,3028.298369,3279.602269,3306.815957,3444.551345,3639.770926,3594.361789,3924.134440,3553.476685,4231.992095,4378.310318,4403.969647,5268.965745,5132.197074,5071.635341,5085.581002,5602.870166,5710.710084,6515.059694,6560.998168,7178.869364,7076.207988,7254.286281,7531.269963,7334.901928,7605.563780,7857.454883,7882.473773,7983.037508,8907.791984,8054.356723,7755.394416,8249.536449,8293.412926,8255.768914,8847.785182,8584.100499,9036.654297,10038.311925,11091.548870,10589.466186,10804.641716,10731.328643,10524.250704,10524.877500,12734.006623,14746.031338,16353.831274,16911.079784,17023.166824,18157.598099,17630.071465,18178.139015,17916.120421,17478.893037
Canada,4251.435911,4307.820754,4451.560116,4694.120070,4903.607607,5153.932412,5272.664705,5557.291740,5871.520391,6091.100010,6476.388529,6436.226256,6863.444335,7084.623683,7089.999991,7170.412528,7293.698609,7431.439886,7561.744939,7862.206395,7828.837983,7555.244931,7173.555164,7076.523318,7368.740440,7468.096343,7521.886893,7671.199600,7885.244400,7963.297905,7630.092306,7517.330304,7601.685177,7770.546448,7957.245633,7979.898446,8053.454858,8056.243628,7948.397278,8107.515156,8265.079925,8056.349425,7993.879384,8341.343144,8455.547014,8422.034308,8239.946371,8213.389543,8194.880771,7797.121136,7788.560786,7911.554588,7733.411655,7743.725742,7897.855615,7631.341570
North America,5516.355617,5494.086457,5654.544543,5869.044418,6024.094790,6201.770587,6469.291448,6693.144005,6960.887266,7215.690803,7466.148368,7528.958471,7837.852245,8060.070944,7830.599969,7609.239660,8022.210308,8202.505740,8353.196466,8281.908558,7931.208139,7638.529661,7250.713423,7187.118903,7436.015009,7457.422268,7390.388879,7626.997783,7853.258884,7897.552900,7667.611043,7620.080221,7669.860944,7715.564427,7777.627583,7785.182444,7865.164089,7851.083732,7817.956797,7941.329723,8077.286737,7850.314676,7858.144200,7848.043092,7938.031773,7903.118483,7751.023404,7802.975780,7557.741461,7129.923196,7223.540273,7117.469938,6957.807503,6989.336549,7054.546992,6886.867395
United States,5641.740755,5612.079503,5774.586315,5986.783954,6136.938230,6307.890202,6591.340558,6809.820484,7073.478949,7332.368547,7569.076595,7644.524802,7940.997832,8163.603792,7909.586480,7656.263579,8100.562222,8285.570898,8438.403077,8327.041705,7942.253018,7647.538054,7259.078899,7199.118533,7443.320017,7456.262903,7376.096238,7622.173017,7849.753970,7890.287202,7671.773066,7631.467806,7677.401401,7709.496589,7757.830822,7763.755106,7844.468266,7828.581096,7803.697605,7923.223893,8056.863850,7827.886325,7843.344849,7794.235530,7881.578642,7846.499688,7697.652535,7758.165986,7488.081921,7056.783653,7161.426552,7029.954601,6872.027284,6905.598633,6960.683997,6803.996607
Luxembourg,10523.406695,10534.018211,10414.540920,10465.813021,11150.050343,10926.395173,10480.606179,10361.972567,11114.667262,11974.192593,12106.152944,11863.089589,12009.570110,12648.560422,13023.889593,10504.981195,10668.567437,10278.557552,11096.003668,10458.112860,9774.650556,8526.037374,8057.809999,7576.207121,8112.675479,8346.926421,8163.548751,7942.948078,8158.433525,8699.936356,8874.105015,9353.421189,9262.081979,9266.942575,8823.252466,7705.407158,7711.178707,7409.850995,7066.884860,7266.972530,7676.837039,7982.850348,8204.726845,8549.502912,9387.437104,9428.811286,9170.532565,8773.896703,8612.233705,7951.723944,8329.478275,8056.404301,7722.190204,7312.154005,6861.106667,6548.405559
Finland,2196.953067,2252.778690,2361.743876,2478.912009,2678.383166,2887.694106,3065.438676,3126.426045,3342.703258,3668.523299,3872.223019,3939.211088,4188.160677,4507.556984,4383.848118,4181.810657,4459.859609,4516.248068,4664.523176,4963.535508,5146.642299,4934.588468,4805.493882,4823.858831,4910.523018,5269.892371,5482.578423,5960.692586,5590.436514,5753.639283,5691.571186,5742.784229,5380.993068,5617.215378,5972.554273,5661.903876,6070.212094,6276.951692,6319.326601,6283.958258,6262.192079,6410.625234,6728.581405,7077.026649,7134.854209,6562.022311,7111.856822,6974.896761,6669.173348,6268.300545,6828.783753,6537.637298,6275.770964,6116.227294,6213.357766,5924.700125
Norway,1906.174930,1937.644745,2052.054484,2182.993108,2320.013134,2539.597730,2710.078199,2815.687987,3052.896565,3193.655078,3417.674662,3414.316639,3503.429948,3608.101223,3580.599550,3651.680815,3962.232921,4060.106277,4360.470706,4467.193630,4491.906981,4414.964063,4262.391711,4427.792925,4672.137550,4815.313896,5024.076188,5048.499309,4817.155673,4984.198116,4966.893577,5105.108205,5159.648619,5459.623408,5315.244870,5391.414081,5202.047275,5475.188739,5684.788594,5913.302209,5826.077769,5954.041771,5501.117744,5933.215841,5769.326707,5802.716290,5833.773935,5862.217261,6752.708982,6484.118585,6934.590199,5649.697724,5906.141048,6415.990714,5595.654625,5817.636603
Australia,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,3546.537980,3692.807950,3763.558415,3792.934763,4063.411370,3989.629744,4035.206344,4264.271226,4294.161626,4345.871446,4405.702986,4671.195674,4629.618471,4683.853176,4737.482031,4694.676425,4817.489524,4555.146203,4651.712429,4602.956530,4623.739075,4772.370465,4702.841606,5001.103102,5061.508459,4927.781590,4959.214919,5147.536650,5089.788967,5129.223661,5393.580635,5469.599989,5553.653466,5610.344711,5644.064951,5446.973214,5569.640992,5568.764941,5598.088178,5564.087169,5709.344668,5868.347097,5964.665776,5862.551944,5793.116026,5745.232190,5575.287093,5468.391369,5334.681679,5483.816402
"Korea, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,516.110749,551.258116,632.250969,675.274109,693.338048,758.243819,866.020805,935.264924,1063.677945,1082.192595,1046.414133,1095.503315,1168.980654,1257.116476,1302.102371,1477.312772,1579.665746,1761.014799,1857.298321,2167.339608,2306.643472,2534.341028,2814.188231,2958.407730,3210.132036,3454.854851,3726.157766,3377.635074,3708.705213,4002.671284,4033.318968,4170.476147,4233.487325,4332.667741,4364.219091,4412.527118,4564.987830,4629.777921,4649.765742,5045.487749,5216.587809,5248.519891,5231.675460,5289.275832,5413.347857
Sweden,2698.792303,2742.123469,2887.236252,3080.414075,3273.508965,3437.540770,3636.643857,3630.194139,4000.823278,4303.223917,4681.299836,4450.382511,4527.213720,4773.811403,4510.443011,4764.499013,5151.251367,5054.833764,5016.740420,5229.618271,4871.533239,5097.154463,4877.799897,4941.267011,5216.257817,5656.192899,5878.801467,5763.070441,5854.499662,5594.552973,5514.557530,5650.541377,5369.370357,5334.166498,5660.271423,5702.165043,5825.097913,5672.008177,5769.695064,5661.491459,5360.145147,5680.280487,5802.110105,5650.438050,5847.344163,5711.127283,5529.077953,5472.135392,5379.959103,4883.200490,5427.925046,5274.643613,5269.485998,5146.533590,4966.435921,5102.785578
Post-demographic dividend,2812.288505,2848.671622,2969.271547,3127.901363,3237.046840,3322.748351,3451.971626,3598.324256,3789.854003,4002.759555,4341.319042,4137.520956,4304.417083,4499.363440,4397.140819,4254.551175,4495.853965,4566.777124,4663.874119,4736.061448,4572.232648,4427.130626,4275.325750,4266.839376,4422.867128,4488.997262,4504.544135,4619.341987,4740.914649,4801.952415,4746.106085,4757.765346,4724.319969,4726.057443,4746.600111,4813.433902,4907.235352,4913.833658,4899.674177,4962.133763,5045.401539,5009.904169,5015.088160,5056.947874,5125.391528,5105.879739,5062.557601,5052.125772,4956.090469,4689.926261,4839.709438,4715.829837,4645.969887,4634.860177,4581.856680,4761.342406
Belgium,2519.497320,2570.815623,2810.061148,3043.306993,3021.647212,3116.033563,3051.297429,3182.923458,3590.004258,3877.044364,4135.199770,4099.955320,4473.929513,4720.784112,4617.498595,4317.935658,4622.233118,4589.524410,4826.564957,4976.777099,4743.422060,4415.358604,4208.257802,4156.257407,4334.902427,4474.062993,4633.920017,4727.686395,4770.948398,4798.926451,4809.867268,5006.004706,5040.670440,4902.269974,5186.186627,5267.670671,5536.471275,5523.459164,5603.160264,5612.714676,5669.358176,5634.215487,5390.719733,5590.025976,5592.988750,5555.615784,5470.491824,5336.963212,5454.667159,5196.581983,5539.472223,5092.316147,4845.488295,4997.463306,4708.221218,4687.787049
High income,2761.770337,2799.712478,2918.228582,3069.538122,3175.606633,3260.613930,3386.580276,3528.933844,3715.710693,3925.175007,4252.990569,3978.829367,4134.204339,4321.005547,4223.511912,4092.981256,4322.177302,4390.995130,4495.314434,4574.520220,4433.514856,4293.847126,4163.485050,4154.461248,4286.359222,4350.522308,4371.514801,4490.323394,4611.598120,4662.276024,4585.179012,4609.388111,4630.250214,4666.603474,4721.169526,4797.298408,4910.993646,4922.926043,4918.852202,4979.473266,5060.127294,5035.911272,5047.098164,5079.699874,5153.126618,5137.847584,5120.124566,5117.250804,5041.483414,4801.117739,4955.046866,4833.306612,4792.683823,4780.491646,4745.009656,4605.417875
New Zealand,1685.788431,1763.259908,1791.461322,1924.229007,2176.168871,2241.415690,2286.231175,2188.693513,2319.300244,2374.228578,2457.817270,2393.107256,2617.161059,2662.050789,2882.552502,2772.282119,2928.693136,3055.081085,3031.799308,2834.458025,2886.324007,2849.985600,3012.971389,3076.758666,3251.011744,3448.328355,3464.096048,3452.962680,3609.680514,3846.626152,3854.366028,3763.814483,3808.477221,3967.871340,4055.200552,4053.690586,4131.236334,4258.756777,4162.869201,4307.930432,4430.227856,4407.618864,4337.380524,4197.593862,4239.645749,4095.143085,4047.318023,4054.495004,4082.723367,4073.238042,4225.094582,4177.025547,4357.809714,4360.305936,4553.026901,4431.514731
Netherlands,1825.934253,1879.150201,2081.011621,2268.427890,2349.083542,2493.153897,2605.566956,2762.802483,3042.809658,3362.787219,3765.567366,3855.226766,4381.041795,4613.271339,4501.414317,4318.726564,4742.981742,4560.273120,4662.605278,4868.635594,4548.824789,4269.414120,3785.115936,3935.956879,4147.701528,4184.429814,4317.315591,4387.670689,4321.100530,4323.858180,4394.542090,4603.733175,4502.540080,4510.582152,4511.794963,4780.412596,5014.988830,4835.741945,4842.443938,4730.229683,4739.065925,4839.465530,4873.261626,5020.381932,5085.885701,4989.467930,4925.112417,4908.898261,4848.013690,4722.106039,5025.320916,4636.701904,4646.255241,4600.182976,4325.523712,4233.043857
Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6232.731998,5841.390649,4283.158664,3639.269192,3752.387328,3624.431136,4043.289955,4010.915768,3695.170673,3462.766968,3374.708390,3541.512051,3415.780621,3798.038257,3893.395472,3846.392943,3775.035083,4243.648000,4105.417736,3648.978843,4222.737190,4237.729191,4174.387766,4623.279112,4592.616457,4173.326583
OECD members,2666.979333,2702.066693,2815.604186,2959.832864,3060.624410,3142.695789,3263.071753,3397.790606,3575.071346,3773.843018,4085.135902,3676.271190,3818.022755,3984.808874,3894.755726,3774.726106,3976.618110,4035.505016,4120.012544,4180.402084,4047.566767,3911.576984,3786.441248,3760.788206,3880.457908,3935.188871,3943.479113,4040.417544,4129.341676,4168.248755,4132.580564,4141.158744,4139.460371,4163.282897,4198.874384,4255.080799,4348.529182,4356.530295,4339.998743,4381.626866,4446.560269,4402.250145,4398.462758,4423.880871,4474.744313,4469.843457,4442.476586,4430.226835,4342.310176,4124.844237,4234.289299,4135.236445,4082.581227,4075.025905,4020.681015,4130.433023
Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4618.408711,4613.780591,4551.296952,4194.684185,4342.960366,4438.443585,4716.462701,4429.802566,4703.037045,4557.317686,4567.930520,4633.611367,4646.574497,4740.971072,4764.268339,4839.935925,4978.254945,4876.221068,4739.002775,4796.941458,4349.236238,4222.416576,4089.408515,3963.314094,4019.804879,4152.938259,4184.884684,4057.405827,3782.889207,3988.038494,4111.152482,4163.450106,4357.572662,4460.259931,4400.878113,4491.516134,4468.960352,4330.712691,4034.743510,4237.896741,4077.356059,4054.085018,3989.991414,3915.113582,3860.002964
Germany,1952.588632,1994.324633,2124.848539,2281.289928,2341.146313,2378.339732,2387.684875,2388.412347,2561.522585,2772.010929,3860.864936,3895.264726,4017.337385,4240.061862,4158.271626,3984.974239,4314.581637,4336.087404,4483.880847,4685.296728,4562.295973,4399.499823,4257.864407,4268.048912,4447.316635,4598.138495,4589.153656,4616.397062,4629.177666,4514.704706,4421.364531,4302.891175,4190.984220,4122.695740,4088.798130,4119.688948,4246.553191,4203.357367,4177.294129,4079.933344,4094.060360,4209.796087,4108.401299,4084.503346,4114.389928,4086.503407,4204.654689,3985.811955,4036.830781,3790.501152,3997.079421,3869.816229,3876.948104,3939.529563,3779.461921,3817.549415
Austria,1546.261468,1554.034906,1675.873621,1823.995225,1855.085155,1851.843564,1902.756408,1920.212124,2045.828123,2181.632309,2418.210129,2508.520919,2627.322496,2830.946802,2730.437326,2654.848729,2866.975920,2797.421922,2893.022299,3138.916143,3067.011920,2897.009398,2830.221781,2843.405568,2953.688150,3051.597062,3061.588862,3174.745392,3204.562182,3138.983488,3240.111359,3415.173082,3245.592076,3255.784704,3234.492985,3373.603565,3580.420798,3550.404171,3606.610379,3591.809466,3570.498826,3758.457569,3773.651728,3973.624327,4007.569904,4085.567651,4078.812226,4019.590170,4032.148426,3798.151168,4051.196020,3921.900515,3886.767732,3919.044419,3763.327903,3800.299420
France,1699.250872,1745.201546,1861.042066,1983.465817,2085.161125,2109.853284,2122.916294,2248.078179,2359.882863,2536.665017,2951.476649,3027.821086,3170.748115,3385.509297,3253.331252,3058.736962,3247.746216,3172.814043,3369.338889,3495.897326,3476.522833,3379.166184,3280.261631,3347.532543,3448.501860,3597.644806,3632.924639,3702.241303,3665.568856,3795.900235,3846.625257,4043.099160,3954.003261,4001.902202,3836.111834,3981.352175,4191.924184,4049.233183,4151.627470,4123.526953,4135.477644,4246.004803,4225.468037,4270.949868,4301.736813,4287.157074,4188.843259,4115.527240,4110.585978,3913.457942,4016.848071,3847.072200,3836.656299,3833.534259,3659.087795,3692.017833
Japan,867.203098,971.998193,1013.257624,1147.292732,1272.480553,1374.528657,1491.027708,1735.123229,1939.416361,2214.061417,2480.752696,2531.088536,2667.046750,2947.083996,2924.245711,2734.123265,2876.698816,2899.675021,2897.960483,3043.527509,2949.503934,2864.052175,2839.865201,2822.740988,3016.181683,3003.173879,3020.809124,3044.663715,3243.604578,3352.005932,3552.858582,3574.005929,3644.194760,3655.966843,3844.286680,3934.959561,4008.476236,4041.167670,3955.627627,4011.224779,4083.831697,4008.268032,3991.977567,3953.184508,4078.210542,4062.979049,4053.883437,4012.654245,3858.434521,3678.511133,3893.266604,3610.812169,3537.363170,3567.629354,3470.763129,3428.557216
Euro area,1403.942741,1455.391774,1567.862991,1686.600242,1762.650228,1816.950549,1865.290820,1941.655973,2093.376337,2262.920459,2746.540763,2782.977079,2921.227745,3108.961349,3065.668948,2931.904606,3141.293455,3105.600510,3224.805201,3354.410079,3291.942026,3182.213795,3072.772318,3096.026510,3200.710475,3297.848488,3329.029535,3399.239438,3426.197022,3488.785291,3511.714652,3555.688878,3467.814414,3431.252465,3415.023090,3524.563322,3631.811816,3618.406442,3673.181240,3661.088176,3697.177965,3781.242489,3764.868618,3823.496675,3857.958368,3847.579093,3839.733408,3757.199292,3730.766504,3511.673650,3627.005544,3486.357144,3445.622781,3405.038746,3266.227788,3329.025613
European Union,1487.664770,1541.096121,1653.838779,1764.478845,1840.896534,1885.710374,1940.340911,2010.271280,2157.420746,2330.845753,2760.724489,2787.661020,2905.677749,3072.158997,3032.451150,2968.836398,3165.984289,3169.037084,3291.446797,3407.494364,3348.728380,3235.872570,3169.301750,3181.307052,3257.048735,3360.404030,3405.304572,3473.164013,3487.821312,3496.540696,3422.369590,3401.454718,3301.503126,3280.342475,3252.506755,3359.903539,3466.912421,3436.975235,3449.736971,3409.780761,3428.661129,3515.391675,3512.786176,3576.491183,3607.686754,3605.868938,3618.557891,3554.913925,3533.836425,3321.340737,3448.023600,3335.592017,3288.247279,3242.639196,3123.595656,3278.352078
Slovenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2857.564531,2778.950390,2584.335171,2715.389914,2827.917161,3049.386594,3180.206152,3310.400633,3253.808861,3242.486177,3224.379501,3381.112015,3424.452879,3463.524930,3571.194865,3645.837437,3648.982893,3632.565326,3836.621785,3496.229535,3579.072461,3567.983036,3424.040145,3330.990076,3236.236045,3174.872585
Slovak Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3128.601988,3224.519441,3343.354494,3464.066088,3539.879365,3631.260796,3780.589447,3929.157026,3967.238128,3983.842773,3872.536560,3754.679582,3767.596673,3932.192428,4015.152173,3979.674183,4074.779047,4106.150426,4083.662216,4024.669067,3606.582437,3410.727885,3334.794345,3260.631824,3315.047989,3364.258794,3361.884022,3256.502531,3271.413931,3292.609005,3456.705473,3483.867506,3468.783673,3416.247850,3504.475593,3469.291394,3320.454722,3405.692968,3106.686165,3306.805544,3213.949767,3080.725034,3130.926574,2943.189160,3003.664220
Switzerland,1398.654836,1454.755116,1568.911060,1869.587498,1819.435337,1943.600516,1966.692137,2040.827900,2172.603883,2334.444030,2556.658707,2637.670782,2727.719217,2998.005183,2783.514537,2710.772924,2821.012886,2877.792909,2995.016825,3042.179155,3170.575472,3093.323276,2984.223263,3173.307578,3239.369965,3412.391109,3544.522060,3430.855513,3436.875833,3339.083472,3627.692811,3637.194120,3613.284329,3490.886554,3494.447149,3421.651041,3473.206304,3525.891301,3557.990076,3547.372890,3480.591572,3673.292573,3553.740257,3542.065603,3530.578345,3488.218348,3619.151639,3410.819883,3499.790982,3481.852845,3347.618356,3205.328271,3202.834337,3304.115438,3059.936749,2960.073389
Ireland,1318.812487,1396.466152,1412.729677,1453.962105,1522.194973,1511.904911,1629.591872,1767.425106,1881.149354,1974.588853,2023.631076,2245.323440,2194.513065,2238.471783,2268.089880,2083.994921,2110.191937,2203.821522,2178.720976,2534.338644,2413.156353,2392.953953,2356.894257,2336.183558,2346.178530,2438.438397,2503.498894,2608.806581,2592.838648,2655.244974,2820.410168,2827.844498,2775.218003,2813.710465,2941.613242,2951.913093,3122.335609,3255.498451,3417.568527,3544.387616,3626.747161,3713.513869,3661.322241,3515.094503,3558.085941,3503.642864,3424.160852,3416.030946,3293.884635,3149.565141,3152.003605,2865.374740,2853.064865,2814.982690,2741.574884,2819.875852
Denmark,1922.973673,2023.308390,2296.289563,2502.927644,2600.155821,2822.734845,3067.427832,3061.110107,3203.752279,3699.530444,3971.430728,3728.538022,3858.592122,3781.757201,3489.606459,3453.207222,3745.561839,3830.103810,3894.637761,4020.036542,3735.144086,3381.434450,3422.374805,3233.160100,3353.461203,3774.101134,3823.501807,3819.832129,3642.119646,3414.211605,3376.783307,3734.818398,3561.890369,3645.515346,3760.577237,3706.440187,4170.252024,3848.155844,3772.110277,3602.670638,3489.614796,3583.955723,3535.098014,3727.834179,3597.172960,3487.631914,3728.171039,3622.596833,3501.513847,3329.211067,3510.796850,3230.188031,3091.581580,3125.337760,2872.573547,2816.614565

### 15- What are some of the conclusions you can draw from the data you displayed (e.g., about the "countries" in the data)?
- ##### As data are sorted descending based on the last year(here 2015), It shows that '***Iceland***' had the highest consumtion of energy in 2015(17478.893037) followed by '***Canada***', '***North America***', '***United states***' and so on. Furthermore, because we displayed the first 30 contries, It is also clear that '***Israel***' placed in the 30th position in terms of Energy consumsion in 2015 (equals 2777.875324).

### 16- Calculate the difference between the (0-filled) values for the **years 2010 and 2000** by country, sort it in a **descending** order, and display the **first 30 rows**. What are some of the conclusions you could draw from what you see?

### conclution:
- ##### It is evident that '***Trinidad and Tobago***' had the highest growth on Energy Consumtion from 2000 to 2010. This difference equals to 7343.881646.
- ##### As this list is sorted descending and showes just the first 30 countries, It can be seen that the value of difference in Energy Consumtion for these contries are in decreasing order.
- ##### It is also can be seen that the difference between Energy Consumtion for all countries is positive between 2000 and 2010, that shows a rise in Energy Usage for them
- ##### However, we have to consider that we assumed the missing Energy Consumtion Values as 0, Thus it might be better to fill empty cells in a different way for each country in 2000 and 2010. for example, due to the fact that the data in this data frame can be considered time series, we can use interpolation to fill the missing values for 2000 and 2010 and then calculate the differences.

### Note: In deduction, the missing values are considered as zero. So we can do the following without filling Non-values by zero.

In [121]:
(df['2010'].fillna(0)-df['2000'].fillna(0)).sort_values(ascending=False).head(30)

Country Name
Trinidad and Tobago                            7343.881646
Iceland                                        5931.617954
Oman                                           2817.166090
Saudi Arabia                                   2028.716721
Gabon                                          1931.836600
Montenegro                                     1898.288421
Kazakhstan                                     1837.648729
Caribbean small states                         1773.999293
Kuwait                                         1569.504601
Brunei Darussalam                              1180.641360
Turkmenistan                                   1164.474277
Norway                                         1108.512430
China                                          1055.735243
Korea, Rep.                                    1042.816465
Gibraltar                                      1037.278934
Iran, Islamic Rep.                              894.791886
Estonia                                         848.028800
Late-demographic dividend                       791.572455
East Asia & Pacific (IDA & IBRD countries)      789.415631
East Asia & Pacific (excluding high income)     778.339797
Upper middle income                             721.507825
East Asia & Pacific                             707.439099
Luxembourg                                      652.641236
Thailand                                        605.452916
Middle East & North Africa                      597.518172
Russian Federation                              594.763584
Bosnia and Herzegovina                          590.489037
Finland                                         566.591674
Latvia                                          530.193540
Kosovo                                          496.432062
dtype: float64

### 17- Display the **mean** values by year as a percentage of the **maximal** values for that year.
- ##### The lambda function gets an input(in this case series) and returns **mean** as a percentage of the **maximal**.
- ##### The apply method executes the lambda function over all columns of the dataframe.

In [122]:
df.apply(lambda x : (x.mean()/x.max())*100)

Energy use (kg of oil equivalent per capita)
1960    22.669063
1961    22.978148
1962    24.208922
1963    25.378166
1964    24.790614
1965    25.704887
1966    27.558484
1967    28.676396
1968    28.423581
1969    27.937783
1970    29.908848
1971     4.648137
1972     4.854237
1973     4.650674
1974     4.936191
1975     6.891470
1976     6.512473
1977     6.714076
1978     7.621300
1979     7.911123
1980     7.606008
1981     7.969176
1982     7.358451
1983     6.937944
1984    10.107683
1985    13.011385
1986    13.287579
1987    13.817290
1988    14.030779
1989    14.496496
1990    14.650733
1991    14.829843
1992    13.987773
1993    13.492196
1994    13.526670
1995    13.459529
1996    13.153490
1997    11.766205
1998    11.653551
1999    11.285838
2000    12.071856
2001    11.602816
2002    10.760776
2003    11.293554
2004     9.663841
2005    11.080832
2006    11.429581
2007    12.166881
2008    15.145194
2009    14.119852
2010    14.430814
2011    13.533453
2012    13.845241
2013    13.285970
2014    13.778170
2015    24.189451
dtype: float64

### 18- Display the countries where the values for *all* years are missing.
- ##### Apart from having view of years without any data(as we have done that in part 9), It is good to have a sense of countries that have no data for all years
- ##### We can see from the results that there are 46 countries without any data for all years.

In [123]:
all_years_missed_value = df.isna().all(axis= 1)
df.loc[all_years_missed_value].index

Index(['Aruba', 'Afghanistan', 'Andorra', 'American Samoa', 'Burundi',
       'Burkina Faso', 'Bermuda', 'Central African Republic',
       'Channel Islands', 'Cayman Islands', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Guinea', 'Greenland', 'Guam', 'Isle of Man',
       'Not classified', 'Lao PDR', 'Liberia', 'Low income', 'Liechtenstein',
       'Macao SAR, China', 'St. Martin (French part)', 'Monaco', 'Madagascar',
       'Mali', 'Northern Mariana Islands', 'Mauritania', 'Malawi',
       'New Caledonia', 'Nauru', 'Papua New Guinea', 'Puerto Rico',
       'West Bank and Gaza', 'French Polynesia', 'Rwanda', 'Sierra Leone',
       'San Marino', 'Somalia', 'Sint Maarten (Dutch part)',
       'Turks and Caicos Islands', 'Chad', 'Tuvalu', 'Uganda',
       'British Virgin Islands', 'Virgin Islands (U.S.)'],
      dtype='object', name='Country Name')

In [124]:
len(df.loc[all_years_missed_value].index)

46

### 19- Display the subdataframe with the countries whose final year's values are bigger than the **final** year values' mean.

In [125]:
# get the name of final year column
final_year = df.columns[-1]
# define a mask where the value of the column is bigger than the mean of the column
filt = df[final_year] > df[final_year].mean() 
df.loc[filt]

Energy use (kg of oil equivalent per capita),1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Australia,3063.554271,3115.787084,3172.974865,3284.050959,3349.414167,3463.215578,3546.537980,3692.807950,3763.558415,3792.934763,4063.411370,3989.629744,4035.206344,4264.271226,4294.161626,4345.871446,4405.702986,4671.195674,4629.618471,4683.853176,4737.482031,4694.676425,4817.489524,4555.146203,4651.712429,4602.956530,4623.739075,4772.370465,4702.841606,5001.103102,5061.508459,4927.781590,4959.214919,5147.536650,5089.788967,5129.223661,5393.580635,5469.599989,5553.653466,5610.344711,5644.064951,5446.973214,5569.640992,5568.764941,5598.088178,5564.087169,5709.344668,5868.347097,5964.665776,5862.551944,5793.116026,5745.232190,5575.287093,5468.391369,5334.681679,5483.816402
Belgium,2519.497320,2570.815623,2810.061148,3043.306993,3021.647212,3116.033563,3051.297429,3182.923458,3590.004258,3877.044364,4135.199770,4099.955320,4473.929513,4720.784112,4617.498595,4317.935658,4622.233118,4589.524410,4826.564957,4976.777099,4743.422060,4415.358604,4208.257802,4156.257407,4334.902427,4474.062993,4633.920017,4727.686395,4770.948398,4798.926451,4809.867268,5006.004706,5040.670440,4902.269974,5186.186627,5267.670671,5536.471275,5523.459164,5603.160264,5612.714676,5669.358176,5634.215487,5390.719733,5590.025976,5592.988750,5555.615784,5470.491824,5336.963212,5454.667159,5196.581983,5539.472223,5092.316147,4845.488295,4997.463306,4708.221218,4687.787049
Canada,4251.435911,4307.820754,4451.560116,4694.120070,4903.607607,5153.932412,5272.664705,5557.291740,5871.520391,6091.100010,6476.388529,6436.226256,6863.444335,7084.623683,7089.999991,7170.412528,7293.698609,7431.439886,7561.744939,7862.206395,7828.837983,7555.244931,7173.555164,7076.523318,7368.740440,7468.096343,7521.886893,7671.199600,7885.244400,7963.297905,7630.092306,7517.330304,7601.685177,7770.546448,7957.245633,7979.898446,8053.454858,8056.243628,7948.397278,8107.515156,8265.079925,8056.349425,7993.879384,8341.343144,8455.547014,8422.034308,8239.946371,8213.389543,8194.880771,7797.121136,7788.560786,7911.554588,7733.411655,7743.725742,7897.855615,7631.341570
Finland,2196.953067,2252.778690,2361.743876,2478.912009,2678.383166,2887.694106,3065.438676,3126.426045,3342.703258,3668.523299,3872.223019,3939.211088,4188.160677,4507.556984,4383.848118,4181.810657,4459.859609,4516.248068,4664.523176,4963.535508,5146.642299,4934.588468,4805.493882,4823.858831,4910.523018,5269.892371,5482.578423,5960.692586,5590.436514,5753.639283,5691.571186,5742.784229,5380.993068,5617.215378,5972.554273,5661.903876,6070.212094,6276.951692,6319.326601,6283.958258,6262.192079,6410.625234,6728.581405,7077.026649,7134.854209,6562.022311,7111.856822,6974.896761,6669.173348,6268.300545,6828.783753,6537.637298,6275.770964,6116.227294,6213.357766,5924.700125
High income,2761.770337,2799.712478,2918.228582,3069.538122,3175.606633,3260.613930,3386.580276,3528.933844,3715.710693,3925.175007,4252.990569,3978.829367,4134.204339,4321.005547,4223.511912,4092.981256,4322.177302,4390.995130,4495.314434,4574.520220,4433.514856,4293.847126,4163.485050,4154.461248,4286.359222,4350.522308,4371.514801,4490.323394,4611.598120,4662.276024,4585.179012,4609.388111,4630.250214,4666.603474,4721.169526,4797.298408,4910.993646,4922.926043,4918.852202,4979.473266,5060.127294,5035.911272,5047.098164,5079.699874,5153.126618,5137.847584,5120.124566,5117.250804,5041.483414,4801.117739,4955.046866,4833.306612,4792.683823,4780.491646,4745.009656,4605.417875
Iceland,3082.711563,2916.706232,3028.298369,3279.602269,3306.815957,3444.551345,3639.770926,3594.361789,3924.134440,3553.476685,4231.992095,4378.310318,4403.969647,5268.965745,5132.197074,5071.635341,5085.581002,5602.870166,5710.710084,6515.059694,6560.998168,7178.869364,7076.207988,7254.286281,7531.269963,7334.901928,7605.563780,7857.454883,7882.473773,7983.037508,8907.791984,8054.356723,7755.394416,8249.536449,8293.412926,8255.768914,8847.785182,8584.100499,9036.654297,10038.311925,11091.548870,10589.466186,10804.641716,10731.328643,10524.250704,10524.877500,12734.006623,14746.031338,16353.831274,16911.079784,17023.166824,18157.598099,17630.071465,18178.139015,17916.120421,17478.893037
"Korea, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,516.110749,551.258116,632.250969,675.274109,693.338048,758.243819,866.020805,935.264924,1063.677945,1082.192595,1046.414133,1095.503315,1168.980654,1257.116476,1302.102371,1477.312772,1579.665746,1761.014799,1857.298321,2167.339608,2306.643472,2534.341028,2814.188231,2958.407730,3210.132036,3454.854851,3726.157766,3377.635074,3708.705213,4002.671284,4033.318968,4170.476147,4233.487325,4332.667741,4364.219091,4412.527118,4564.987830,4629.777921,4649.765742,5045.487749,5216.587809,5248.519891,5231.675460,5289.275832,5413.347857
Luxembourg,10523.406695,10534.018211,10414.540920,10465.813021,11150.050343,10926.395173,10480.606179,10361.972567,11114.667262,11974.192593,12106.152944,11863.089589,12009.570110,12648.560422,13023.889593,10504.981195,10668.567437,10278.557552,11096.003668,10458.112860,9774.650556,8526.037374,8057.809999,7576.207121,8112.675479,8346.926421,8163.548751,7942.948078,8158.433525,8699.936356,8874.105015,9353.421189,9262.081979,9266.942575,8823.252466,7705.407158,7711.178707,7409.850995,7066.884860,7266.972530,7676.837039,7982.850348,8204.726845,8549.502912,9387.437104,9428.811286,9170.532565,8773.896703,8612.233705,7951.723944,8329.478275,8056.404301,7722.190204,7312.154005,6861.106667,6548.405559
North America,5516.355617,5494.086457,5654.544543,5869.044418,6024.094790,6201.770587,6469.291448,6693.144005,6960.887266,7215.690803,7466.148368,7528.958471,7837.852245,8060.070944,7830.599969,7609.239660,8022.210308,8202.505740,8353.196466,8281.908558,7931.208139,7638.529661,7250.713423,7187.118903,7436.015009,7457.422268,7390.388879,7626.997783,7853.258884,7897.552900,7667.611043,7620.080221,7669.860944,7715.564427,7777.627583,7785.182444,7865.164089,7851.083732,7817.956797,7941.329723,8077.286737,7850.314676,7858.144200,7848.043092,7938.031773,7903.118483,7751.023404,7802.975780,7557.741461,7129.923196,7223.540273,7117.469938,6957.807503,6989.336549,7054.546992,6886.867395
Netherlands,1825.934253,1879.150201,2081.011621,2268.427890,2349.083542,2493.153897,2605.566956,2762.802483,3042.809658,3362.787219,3765.567366,3855.226766,4381.041795,4613.271339,4501.414317,4318.726564,4742.981742,4560.273120,4662.605278,4868.635594,4548.824789,4269.414120,3785.115936,3935.956879,4147.701528,4184.429814,4317.315591,4387.670689,4321.100530,4323.858180,4394.542090,4603.733175,4502.540080,4510.582152,4511.794963,4780.412596,5014.988830,4835.741945,4842.443938,4730.229683,4739.065925,4839.465530,4873.261626,5020.381932,5085.885701,4989.467930,4925.112417,4908.898261,4848.013690,4722.106039,5025.320916,4636.701904,4646.255241,4600.182976,4325.523712,4233.043857
Norway,1906.174930,1937.644745,2052.054484,2182.993108,2320.013134,2539.597730,2710.078199,2815.687987,3052.896565,3193.655078,3417.674662,3414.316639,3503.429948,3608.101223,3580.599550,3651.680815,3962.232921,4060.106277,4360.470706,4467.193630,4491.906981,4414.964063,4262.391711,4427.792925,4672.137550,4815.313896,5024.076188,5048.499309,4817.155673,4984.198116,4966.893577,5105.108205,5159.648619,5459.623408,5315.244870,5391.414081,5202.047275,5475.188739,5684.788594,5913.302209,5826.077769,5954.041771,5501.117744,5933.215841,5769.326707,5802.716290,5833.773935,5862.217261,6752.708982,6484.118585,6934.590199,5649.697724,5906.141048,6415.990714,5595.654625,5817.636603
New Zealand,1685.788431,1763.259908,1791.461322,1924.229007,2176.168871,2241.415690,2286.231175,2188.693513,2319.300244,2374.228578,2457.817270,2393.107256,2617.161059,2662.050789,2882.552502,2772.282119,2928.693136,3055.081085,3031.799308,2834.458025,2886.324007,2849.985600,3012.971389,3076.758666,3251.011744,3448.328355,3464.096048,3452.962680,3609.680514,3846.626152,3854.366028,3763.814483,3808.477221,3967.871340,4055.200552,4053.690586,4131.236334,4258.756777,4162.869201,4307.930432,4430.227856,4407.618864,4337.380524,4197.593862,4239.645749,4095.143085,4047.318023,4054.495004,4082.723367,4073.238042,4225.094582,4177.025547,4357.809714,4360.305936,4553.026901,4431.514731
Post-demographic dividend,2812.288505,2848.671622,2969.271547,3127.901363,3237.046840,3322.748351,3451.971626,3598.324256,3789.854003,4002.759555,4341.319042,4137.520956,4304.417083,4499.363440,4397.140819,4254.551175,4495.853965,4566.777124,4663.874119,4736.061448,4572.232648,4427.130626,4275.325750,4266.839376,4422.867128,4488.997262,4504.544135,4619.341987,4740.914649,4801.952415,4746.106085,4757.765346,4724.319969,4726.057443,4746.600111,4813.433902,4907.235352,4913.833658,4899.674177,4962.133763,5045.401539,5009.904169,5015.088160,5056.947874,5125.391528,5105.879739,5062.557601,5052.125772,4956.090469,4689.926261,4839.709438,4715.829837,4645.969887,4634.860177,4581.856680,4761.342406
Sweden,2698.792303,2742.123469,2887.236252,3080.414075,3273.508965,3437.540770,3636.643857,3630.194139,4000.823278,4303.223917,4681.299836,4450.382511,4527.213720,4773.811403,4510.443011,4764.499013,5151.251367,5054.833764,5016.740420,5229.618271,4871.533239,5097.154463,4877.799897,4941.267011,5216.257817,5656.192899,5878.801467,5763.070441,5854.499662,5594.552973,5514.557530,5650.541377,5369.370357,5334.166498,5660.271423,5702.165043,5825.097913,5672.008177,5769.695064,5661.491459,5360.145147,5680.280487,5802.110105,5650.438050,5847.344163,5711.127283,5529.077953,5472.135392,5379.959103,4883.200490,5427.925046,5274.643613,5269.485998,5146.533590,4966.435921,5102.785578
United States,5641.740755,5612.079503,5774.586315,5986.783954,6136.938230,6307.890202,6591.340558,6809.820484,7073.478949,7332.368547,7569.076595,7644.524802,7940.997832,8163.603792,7909.586480,7656.263579,8100.562222,8285.570898,8438.403077,8327.041705,7942.253018,7647.538054,7259.078899,7199.118533,7443.320017,7456.262903,7376.096238,7622.173017,7849.753970,7890.287202,7671.773066,7631.467806,7677.401401,7709.496589,7757.830822,7763.755106,7844.468266,7828.581096,7803.697605,7923.223893,8056.863850,7827.886325,7843.344849,7794.235530,7881.578642,7846.499688,7697.652535,7758.165986,7488.081921,7056.783653,7161.426552,7029.954601,6872.027284,6905.598633,6960.683997,6803.996607

### 20- Load the "capital.json" file, and arrive at a dataframe capitaldf containing the **name, capital, iso2, iso3** information for every country in it.

In [126]:
import json
with open('capital.json','r') as f:
    capital = json.loads(f.read())
capitaldf = pd.json_normalize(capital,'data')
capitaldf

                  name    capital iso2 iso3
0          Afghanistan      Kabul   AF  AFG
1        Aland Islands  Mariehamn   AX  ALA
2              Albania     Tirana   AL  ALB
3              Algeria    Algiers   DZ  DZA
4       American Samoa  Pago Pago   AS  ASM
..                 ...        ...  ...  ...
246  Wallis and Futuna   Mata Utu   WF  WLF
247     Western Sahara   El-Aaiun   EH  ESH
248              Yemen      Sanaa   YE  YEM
249             Zambia     Lusaka   ZM  ZMB
250           Zimbabwe     Harare   ZW  ZWE

[251 rows x 4 columns]

In [127]:
capitaldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     251 non-null    object
 1   capital  251 non-null    object
 2   iso2     251 non-null    object
 3   iso3     251 non-null    object
dtypes: object(4)
memory usage: 8.0+ KB

### 21- Find the subdataframe of the dfcode dataframe you created earlier on where the "Country Code" value is **not** in the "iso3" column of capitaldf. Hint: look up and use the .isin pandas Series method. Store this subdataframe in the variable dfnocode. Display dfnocode and explain in a markdown cell what you see and what this could be used for.

- ##### To Explain how this new dataframe could be use for, we do as follows:

In [129]:
#countries in dfcode which their codes are not in iso3 of capitaldf 
codes = capitaldf['iso3']
filt = dfcode['Country Code'].isin(codes)
dfnocode = dfcode.loc[~filt]
dfnocode

Energy use (kg of oil equivalent per capita),Country Code,Country Name
1,AFE,Africa Eastern and Southern
3,AFW,Africa Western and Central
7,ARB,Arab World
36,CEB,Central Europe and the Baltics
38,CHI,Channel Islands
49,CSS,Caribbean small states
61,EAP,East Asia & Pacific (excluding high income)
62,EAR,Early-demographic dividend
63,EAS,East Asia & Pacific
64,ECA,Europe & Central Asia (excluding high income)
65,ECS,Europe & Central Asia
68,EMU,Euro area
73,EUU,European Union
74,FCS,Fragile and conflict affected situations
95,HIC,High income
98,HPC,Heavily indebted poor countries (HIPC)
102,IBD,IBRD only
103,IBT,IDA & IBRD total
104,IDA,IDA total
105,IDB,IDA blend
107,IDX,IDA only
110,INX,Not classified
128,LAC,Latin America & Caribbean (excluding high income)
134,LCN,Latin America & Caribbean
135,LDC,Least developed countries: UN classification
136,LIC,Low income
139,LMC,Lower middle income
140,LMY,Low & middle income
142,LTE,Late-demographic dividend
153,MEA,Middle East & North Africa
156,MIC,Middle income
161,MNA,Middle East & North Africa (excluding high inc...
170,NAC,North America
181,OED,OECD members
183,OSS,Other small states
191,PRE,Pre-demographic dividend
197,PSS,Pacific island small states
198,PST,Post-demographic dividend
204,SAS,South Asia
215,SSA,Sub-Saharan Africa (excluding high income)
217,SSF,Sub-Saharan Africa
218,SST,Small states
230,TEA,East Asia & Pacific (IDA & IBRD countries)
231,TEC,Europe & Central Asia (IDA & IBRD countries)
236,TLA,Latin America & the Caribbean (IDA & IBRD coun...
238,TMN,Middle East & North Africa (IDA & IBRD countries)
240,TSA,South Asia (IDA & IBRD)
241,TSS,Sub-Saharan Africa (IDA & IBRD countries)
249,UMC,Upper middle income
259,WLD,World

##### there are 50 countries whith this specification. It means there are 50 country codes is in '***dfcode***' dataframe that are not in '***iso3***' column of '***capitaldf***' dataframe.

In [130]:
len(dfnocode)

50

#### On the other hand there are 80 countries in '***dfcode***' that are not in '***capitaldf***'
- we name the dataframe related to them '***dfnoname***'

In [131]:
# countris in dfcode and not in capitaldf
countries = capitaldf['name']
ctryDiff = dfcode['Country Name'].isin(countries)
dfnoname = dfcode.loc[~ctryDiff]
dfnoname

Energy use (kg of oil equivalent per capita),Country Code,Country Name
1,AFE,Africa Eastern and Southern
3,AFW,Africa Western and Central
7,ARB,Arab World
23,BHS,"Bahamas, The"
31,BRN,Brunei Darussalam
...,...,...
253,VCT,St. Vincent and the Grenadines
254,VEN,"Venezuela, RB"
256,VIR,Virgin Islands (U.S.)
259,WLD,World
262,YEM,"Yemen, Rep."

##### It seems there are 30 inconsistencies between names and codes of dfcode dataframe. Because 30 countries of '***dfcode***' dataframe have code in '***iso3***' column of '***capitaldf***' dataframe but have not name in the dataframe. 
- we find these 30 countries as bellow

In [132]:
# A mask to filter countries in dfcode dataframe that has no name in capitaldf(countries in dfnoname) and have code in capitaldf ()
filt = (dfcode['Country Name'].isin(dfnoname['Country Name'])) & ~(dfcode['Country Code'].isin(dfnocode['Country Code']))
dfcode.loc[filt]

Energy use (kg of oil equivalent per capita),Country Code,Country Name
23,BHS,"Bahamas, The"
31,BRN,Brunei Darussalam
41,CIV,Cote d'Ivoire
43,COD,"Congo, Dem. Rep."
44,COG,"Congo, Rep."
47,CPV,Cabo Verde
67,EGY,"Egypt, Arab Rep."
79,FSM,"Micronesia, Fed. Sts."
86,GMB,"Gambia, The"
96,HKG,"Hong Kong SAR, China"
112,IRN,"Iran, Islamic Rep."
122,KGZ,Kyrgyz Republic
125,KNA,St. Kitts and Nevis
126,KOR,"Korea, Rep."
129,LAO,Lao PDR
133,LCA,St. Lucia
146,MAC,"Macao SAR, China"
147,MAF,St. Martin (French part)
157,MKD,North Macedonia
193,PRK,"Korea, Dem. People's Rep."
196,PSE,West Bank and Gaza
202,RUS,Russian Federation
221,SVK,Slovak Republic
224,SWZ,Eswatini
225,SXM,Sint Maarten (Dutch part)
227,SYR,Syrian Arab Republic
253,VCT,St. Vincent and the Grenadines
254,VEN,"Venezuela, RB"
256,VIR,Virgin Islands (U.S.)
262,YEM,"Yemen, Rep."

### we can use this to correct the country names in '***dfcode***' dataframe. countries that their names are writen differently from their equvalent names in '***capitaldf***' dataframe.
- ##### for example we can see this difference in country name for the code '***IRN***' in both dataframe as bellow

In [133]:
capitaldf.loc[capitaldf['iso3'] == 'IRN']

     name capital iso2 iso3
103  Iran  Tehran   IR  IRN

In [134]:
dfcode.loc[dfcode['Country Code'] == 'IRN']

Energy use (kg of oil equivalent per capita) Country Code        Country Name
112                                                   IRN  Iran, Islamic Rep.

### 22- Now display the subdataframe of your main dataframe with the yearly data where the index (the Country Name) is **not** in the "Country Name" column of dfnocode.

In [135]:
countries = dfnocode['Country Name']
filt = df.index.isin(countries)
df.loc[~filt]

Energy use (kg of oil equivalent per capita),1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country Name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,637.410306,663.408901,635.756208,624.088181,586.690991,559.445192,532.943871,566.947264,555.742338,547.044522,531.587141,506.058157,501.904484,489.327030,500.925066,489.111460,483.624618,486.037605,480.093907,496.536532,491.802571,478.585781,479.820030,470.938412,455.666087,454.055081,449.254390,433.882523,441.163163,438.549912,442.978840,448.261695,467.644111,464.808021,433.572486,458.794074,471.694245,491.978571,515.217257,520.962336,521.780703,552.363766,533.760887,544.609443,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,785.161526,865.592481,762.725362,776.934749,826.952081,890.953360,923.728868,1010.819221,864.199460,1149.536096,989.200148,966.683284,1000.122013,1018.263142,916.555191,963.927170,921.893044,927.744519,896.437762,813.255696,572.781844,418.286630,412.378880,441.249295,417.034843,447.848870,384.594958,426.682819,576.183632,580.494764,597.265253,660.047984,648.168387,715.414483,719.584378,706.859408,679.861765,710.748498,732.316682,729.154373,764.968617,687.896260,801.329975,808.455840,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,908.608824,1117.872926,1112.347340,1170.289281,1176.064254,1140.686958,1143.458468,1179.568641,1267.742103,1381.957383,1405.040886,1411.472920,1310.400165,1296.695977,1219.326655,NaN
"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.893021,90.216323,149.311109,120.556959,101.842838,120.682945,126.882382,129.732713,127.544901,160.143356,152.337642,172.818692,176.446493,178.241409,181.493643,189.300945,216.142171,221.497822,217.879855,214.641058,248.643832,257.900379,212.106103,211.177709,229.145328,225.554412,232.071745,240.801539,264.235478,272.661476,293.822111,276.516286,298.467353,316.514668,327.609376,340.886359,324.267377,332.420814,358.642325,338.260133,277.833544,244.437747,328.688996,NaN,NaN
South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2004.341886,1984.178909,2056.774010,2077.144279,2142.134346,2161.065864,2152.224800,2218.843120,2234.702509,2289.557878,2451.915354,2594.193526,2569.610298,2713.656210,2643.912079,2686.258425,2718.501141,2763.773413,2585.623273,2471.598122,2518.117842,2290.666487,2395.381195,2420.083112,2498.893625,2504.903115,2527.940174,2471.477036,2464.323360,2424.881292,2461.026477,2384.137081,2518.332793,2716.293461,2678.554224,2625.794791,2775.615258,2950.153610,2852.095448,2768.094507,2716.681173,2636.684726,2602.845598,2695.505776,NaN
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,835.864574,860.542030,879.554260,885.569471,810.366156,870.617856,828.470458,807.189272,785.241715,790.147096,775.116793,767.080512,754.328626,738.911478,728.473665,716.977066,709.298526,724.046658,702.504885,678.041108,679.006245,672.573813,657.317798,645.966372,640.677932,618.687137,627.893090,616.829781,601.194667,600.034159,603.078675,607.728207,612.030570,613.652437,617.711140,615.106907,599.104868,603.231762,600.806862,604.405664,619.400538,630.330018,644.976994,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,993.124493,976.557276,998.262763,976.796025,940.071578,960.534964,903.519606,869.662782,857.306005,876.350013,857.852994,833.711579,823.966358,808.166630,834.201428,851.163079,897.469372,879.008997,871.755763,891.190616,922.693064,933.592563,877.678759,858.309791,862.446729,849.109388,832.579724,845.148058,895.541314,842.365540,837.107824,820.322206,782.685828,762.319205,796.258447,809.985623,787.371327,724.292388,729.379281,744.932243,795.054071,824.241799,845.359435,NaN,NaN